{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block styles %}{% endblock styles %}
    </head>
    <body style="background: #7abecc">
        {% block body %}{% endblock body %}
    </body>
</html>