.logo {
    float: right;
    font-size: 70px;
}
.todo_div {
    align-self: center;
    align-items: center;
}
.login_container {
	padding: 0 2rem;
    background: #f7ba5b;
}
.custom-card {
    margin: 5px;
    border-radius: 10px;
    background: wheat;
}
.custom-card h2 {
    text-align: center;
}
.todo-content {
    padding: 10px;
}
.separator {
    border: 1px solid white;
}