{% extends 'base.html' %}
{% load static %}

{% block title %}

    Home

{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
{% endblock styles %}

{% block body %}

<div>
    <div id="navBar">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Hello {{request.user}}</a>
            <h1 class="float: center">Orida</h1>
            <span><a href="{% url 'logoutPage' %}" style="float: right">Logout</a></span>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-block todo_div">
                    <form method="POST" action="{% url 'create-todo' %}">
                        {% csrf_token %}
                        <h2>To Do List</h2>
                        <hr>
                        <input type="text" name="author" value={{request.user}} hidden></input>
                        <input type="text" name="title" placeholder="Evenement..."></input>
                        <textarea name='content' placeholder='To do...'></textarea>
                        <div class="login_container">
        	    	    	<input class="btn" type="submit" value="ADD" style="background: #f7ba5b;">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <hr class="separator">
        <div class="row">
            {% for elem in form %}
                <div class="col-md-4">
                    <div class="custom-card">
                        <div class="todo-content">
                            <h2>{{elem.title}}</h2>
                            <hr>
                            <p>{{elem.content}}</p>
                            <a href="delete_ToDo/{{elem.title}}">delete</a>
                        </div>
                    </div>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</div>
{% comment %} <div class="header">
  <i class="fas fa-plus-circle logo"></i>
</div> {% endcomment %}
{% endblock body %}